@charset "UTF-8";
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css');
@import url('https://fonts.googleapis.com/css?family=Open+Sans');


body {
   font-family: "Open Sans", sans-serif;
   color: #5A5A5A;
   margin: 0;
   background-color: #D1CFE2;
}

header {
   background-color: #F1F0F2;
   padding: 12px;
}

h1 img {
    max-width: 4%;
    max-height: 4%;
    transform: translate(0, 25%); 
    border-radius: 50%;
    margin-left: 10px; /* Adjust the margin as per your preference */
}

nav {
   display: flex;
   justify-content: space-between;
   align-items: center;
}

h1 {
   color: #7888A6;
   padding: 12px;
    margin: 0;
    letter-spacing: .2em;
} 

ul {
   list-style: none;
   color: #7888A6;
   margin: 0; 
   padding: 0; 
   display: flex;
}

li {
   margin-left: 10px; 
}

a {
   color: #7888A6;
   padding: 15px 15px; 
   text-decoration: none;
}

a:hover {
   color: #D1CFE2;
} 

.container {
    position: relative;
    height: 85vh;
    font-family: "Open Sans", sans-serif;
    display: flex;
    align-items: center;
}
  
.container img {
      max-width: 35%;
      margin-left: auto;
      border-radius: 36%;
      position: absolute;
      top: 50%;
      right: 5%; /* Adjust the right position as per your preference */
      transform: translate(0, -50%); /* Adjust the translation as per your preference */
      filter: drop-shadow(20px 20px 30px #ACA7CE);
}
  
#description {
      flex: 1;
      margin-left: 10%;
      max-width: 40%;
}
  
h2 {
     font-size: 30px;
     font-weight: normal;
     color: #AC7B88;
}


button {
margin-top: 10%;
   padding: 30px 20px;
   font-size: 18px;
   margin-right: 5%;
   background-color: #F1F0F2;
   color: #7888A6;
   border: none;
   border-radius: 5px;
   cursor: pointer;
   width: 27%;
   height:
}

button:hover {
   color: #D1CFE2;
}

p{
    color: 	#5A5A5A;
    font-size: 20px;
}
